
.contact-content{
    position: absolute;
    width: 1440px;
    height: 939px;
    left: 50px;
    top: 163px;
     
}
.contact-img123
{
    position: absolute;
    width: 1440px;
    height: 690px;
    left: 0px;
    top: 700x;
    
    background: #90C0E8;

}