.home {
  
  width: 1365px;
  height: 1600px; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #Homelanding */
.image1 {
  position: absolute;
  top: 144px;
  left: 200px;
  mix-blend-mode: difference;
}

.header {
  position: absolute;
  left: 700px;
  top: 246px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.para {
  position: absolute;
  width: 475px;
  height: 90px;
  font-weight: 100;
margin-top: 10px;
  font-style: normal;
  letter-spacing: 0.29em;
  font-size: 14px;
  
}

/* project ::content */
.proj {
  position: absolute;
  width: 1110px;
  height: 1000px;
  left: 250px;
  top: 700px;
}

.proj1 {
  position: absolute;
  width: 540px;
  height: 846px;
  left: 10px;
}
.proj2 {
  position: absolute;
  width: 540px;
  height: 846px;
  left: 586px;
}


/* contact me button */
.contact-me1 {
  box-sizing: border-box;
  position: absolute;
  display:flexbox;
  width: 800px;
  height: 213px;
  left: 400px;
  top: 1700px;
  background: #707070;
  border-radius: 25px;
}
.contact-me-head {
  left: 50px;
}
.contact-btn {
  position: absolute;
  width: 400px;
  height: 70px;
  left: 380px;
  top: 80px;
}
.button1 {
  margin: 12px;
 font-weight: 400;
  background: #e3874f;
  box-shadow: 0px 0.927421px 1.92354px rgba(0, 0, 0, 0.00974257);
  border-radius: 10px;
}
.button2
{
  margin: 12px;
  font-weight: 400;
  border: 2px solid #E3874F;
  border-radius: 10px;
}
