.back-to-top {
  position: fixed;
  bottom: 0px;
  right: 40px;
  font-size: 16px;
font-weight: 800;
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
}

.back-to-top:hover {
  background: #e3874f;
}


.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background: #373737;
  box-shadow: 0 5px 5px #ccc;
  height: 40px;
}
.footer-head {
  position: absolute; 
left: 40px;
right: 62.34%;
top: 30.17%;
bottom: 38.79%;

/* Heading 4 */

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */


}
